services:
    backend:
      build: ./backend
      container_name: backend
      ports: 
        - "3000:3000"
      networks:
         - app-network
      # env_file: 
      # - ./backend/.env    

    client:
      build: ./client
      container_name: client
      ports: 
       - "5173:80"  
      networks:
        - app-network
      depends_on:
         - backend

networks:
  app-network:
    driver: bridge   



