name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-client:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["20.x"]

    defaults:
      run:
        working-directory: ./client

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Upload client build artifact
        uses: actions/upload-artifact@v4
        with:
          name: client-build
          path: client/dist

      - name: Copy repo to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 13.203.155.6
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/ec2-user/foster-client"

      - name: Execute deploy script
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 13.203.155.6
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~
            ./deploy.sh

            
  build-backend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["20.x"]

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run backend tests (optional)
        run: npm test || echo "No tests found"

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-build
          path: backend


  docker:
   runs-on: ubuntu-latest 
   needs: [build-client, build-backend]

   steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: setup docker file 
       uses: docker/setup-buildx-action@v3

     - name: login to dockerHub
       uses: docker/login-action@v3
       with:
         username: ${{secrets.DOCKERHUB_USERNAME}}
         password: ${{ secrets.DOCKERHUB_TOKEN }}

     - name: Build & Push Api Image 
       uses: docker/build-push-action@v6
       with:
        context: ./backend
        file: ./backend/DockerFile
        push: true
        tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/foster-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/foster-backend:${{ github.sha }}

     - name: Build  & push Client Img
       uses: docker/build-push-action@v6
       with: 
        context: ./client
        file : ./client/DockerFile
        push: true
        tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/foster-client:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/foster-client:${{ github.sha }}
  
     - name: Verify built images
       run: docker images





           